body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
}

.article{
    background-color: antiquewhite;
    background-size: cover;
    margin: 20px 30px;
    padding: 20px 10px;
}
/* slider-container */
.slider-container {
    margin-top: 10%;
    width: 100%;
    position: relative;
    height: 200px;
}

.slider {
    display: flex;
    animation: slide 5s linear infinite;
}

.slider img,
.click-me {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;

}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-300px);
    }
}
