:root {
  --text-color: #2b2b2b;
  --primary-color: #fa561f;
  --secondary-color: #ff7d46;
  --secondary-glow: conic-gradient(from 10deg at 50% 50%,
      #f8f5f1 55deg,
      #f03417 0deg,
      #fb7100 160deg,
      transparent 360deg);

  --third-glow: conic-gradient(from 90deg at 50% 50%,
      #ffffff 0deg,
      #ef4a039b 160deg,
      #fa561f 120deg,
      #ff7d46 55deg,
      transparent 360deg);
}

body::before,
body::after {
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0.8
}

body::before {
  background: var(--third-glow);
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  margin-left: -200px;
  filter: blur(90px);
  top: calc(50vh - 50vw/2);
  left: calc(50vw);
}

body::after {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 500px;
  height: 700px;
  filter: blur(90px);
  top: calc(50vh - 50vw/2);
  left: calc(50vw - 50vw/2);
}

@keyframes animateBefore {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(200px) scale(0.2);

  }

  100% {
    transform: translateY(0);
  }
}

@keyframes animateAfter {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-250px) scale(1.5);

  }

  75% {
    transform: translateX(250px) scale(1.5);

  }

  100% {
    transform: translateX(0);
  }
}

body::before {
  animation: animateBefore 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

body::after {
  animation: animateAfter 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  overflow: hidden;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 10px;
  gap: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
}


.logo{
  font-family:Helvetica;
  font-size: 32px;
  background-image: url(../images/icons/vector-pen.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50px;

}

main {
  margin: 20px;
  color: var(--text-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#first-heading {
  animation: fadeIn 1s ease-in 2s forwards;
}

#second-heading {
  animation: fadeIn 1s ease-in 3s forwards;
}

#third-heading {
  animation: fadeIn 1s ease-in 5s forwards;
}

.hero {
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50%;
}

h1 {
  color: var(--text-color);
}

.hero-content {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50%;
  align-items: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  background-color: #fa561f;
  color: #fff;
}

button:hover {
  background-color: #ff7d46;
}

/* slider-container */
.slider-container {
  margin-top: 10%;
  width: 100%;
  position: relative;
  height: 200px;
}

.slider {
  display: flex;
  animation: slide 5s linear infinite;
}

.slider img ,.click-me{
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;

}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-300px);
  }
}
span{
  color: #f03417;
  size: 50px;
}
